/* estrutura do css:
seletor {
    classe: valor
    } 
O seletor pode ser uma tag, id ou classe.*/

/*seletor como tag:*/
h1 {
    color: red;
}

h2 {
    color: green;
}

/*seletor como ID da section - usado para seleções mais específicas, o id é único na página:*/
#economy h2 {
    color: gold;
}

/*seletor como classe- usado para quando a formatação se repete:*/
.creation-date {
    color: gray;
}

/*selecionar tudo que não foi formatado na página:*/
* {
    color: aqua;
}

/*box model
A margem é um elemento externo, o seu tamanho não altera o tamanho definido para o elemento. Para algumas tags ela vem definida por padrão, então é possível zerar o valor caso não quera esse espaço.
margin: 0;

A borda aparece como um desenho na página, os outros elementos sao espaçamentos.
border: tamanho estilo cor
border: 2px solid red;

padding (espaçamento interno): espaçamentoSuperior espaçamentoDireita espaçamentoInferior espaçamentoEsquerda;
padding: 2px 3px 4px 5px;

-> padding e border interferem no tamanho dos elementos, são internos.*/